:root {
    --red:#C82A35;
    --white:#F7F7F7;
    --green:#008D44;
    --deepBlue:#18314F;
    --darkTeal:#8bbeb2;
    --lightTeal:#a2cbc1;
}
* {
    margin:0%;
    padding:0%;
}


#mainContain{
    height: 100vh;
    width: 100vw;
    background-color:var(--deepBlue);
    display:flex;
    flex-direction:column;

}

li {
    list-style: none;
}

#mainHeader{
    background-color:var(--darkTeal);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#mainMenu{
    display:flex;
    flex-direction:row;
    font-size:28px;
    font-weight:600;
    align-self: flex-end;
    margin:0px;
    color:var(--red)
}

li {
    margin:8px;
}

#mainContent{
    flex-grow:1;
}

#footer{
    display:flex;
    flex-direction: row;
    background-color:var(--darkTeal);
}

#footer ul, #footer div{
    display:flex;
    flex-direction: row;
}

#subMenu{
    display:flex;
    flex-direction:row;
    background-color: var(--lightTeal);
}
