:root {
    --red:#C82A35;
    --white:#F7F7F7;
    --green:#008D44;
    --deepBlue:#18314F;
    --darkTeal:#8bbeb2;
    --lightTeal:#a2cbc1;
}
* {
    margin:0%;
    padding:0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #008D44; */
}


#mainContain{
    height: 100vh;
    width: 100vw;
    background-color:var(--deepBlue);
    display:flex;
    flex-direction:column;
}

li {
    list-style: none;
}

#mainHeader{
    background-color:var(--darkTeal);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.headerItem{
    font-size:28px;
    font-weight:600;
    align-self: center;
    margin:0px;
    color:var(--red)
}

li {
    margin:8px;
}

#body{
    flex-grow:1;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:3fr 2fr;
}

#footer{
    display:flex;
    flex-direction: row;
    background-color:var(--darkTeal);
}

#attributions{
    flex-grow:1;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#footer ul, #footer div{
    display:flex;
    flex-direction: row;
    margin:8px
}

#subMenu{
    display:flex;
    flex-direction:row;
    background-color: var(--lightTeal);
    justify-content:flex-end;
    color:var(--red)

}

#counterPizza {
    height:30vh
}


.test{
    color:purple;
    background-color:greenyellow;
}


.bodyText {
    font-size:24px;
    color:var(--lightTeal);
    margin:8px;
}

#mainContent{
    grid-column: span 2;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.review{
    max-width:50vw;
    display:flex;
    justify-content:space-between;
}

.dog{
    height:25vh;
    width:auto;
    margin:16px;
}

.review div {

}