* {
    margin:0%;
    padding:0%;
}




#mainContain{
    height: 100vh;
    width: 100vw;
    background-color: #18314f;
    display:flex;
    flex-direction:column;

}

li {
    list-style: none;
}

#mainHeader{
    background-color:#8bbeb2;
    display:flex;
    flex-direction:row;
}

#mainMenu{
    display:flex;
    flex-direction:rox;
}

#mainContent{
    flex-grow:1;
}

#footer{
    display:flex;
    flex-direction: row;

}

#footer ul, #footer div{
    display:flex;
    flex-direction: row;
}

#subMenu{
    display:flex;
    flex-direction:row;
    background-color: #a2cbc1;
}
